.border-weapons{
    color: whitesmoke;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 5px;
    padding:10px;
    padding-bottom: 20px;
  }
  .form-label-custom{
    color: #ccc;
    border: 1px solid #ccc;
    background-color: #212529;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
  }
  .form-label-custom-possesions{
    color: #ccc;
    border: 1px solid #ccc;
    background-color: #212529;
    padding: 5px 0;
    border-radius: 5px;
  }
  .sharp-border-input{
    border-radius:0;
  }
  .border-weapons h5, hr{
    color:black;
  }

  .no-gutter{
    padding-left: 0;
    padding-right: 0;

  }
  .height-auto {
    height: 0;
  }
 